@model Teams.ViewModels.Team.TeamDetailsViewModel

@{
    ViewData["Title"] = "Details";
}

<h2 class="display-3">@Html.DisplayFor(model => model.Name)</h2>

<hr />
<div class="row">
    <div class="col-sm-12 col-md-10">
        <div class="h-100 d-flex flex-column justify-content-center">
            <dl class="row">
                <dt class = "col-sm-2">
                    @Html.DisplayNameFor(model => model.League)
                </dt>
                <dd class = "col-sm-10">
                    @Html.DisplayFor(model => model.League)
                </dd>
            </dl>
        </div>
    </div>
    <div class="col-md-2">
        <div class="d-flex flex-column justify-content-end gap-1">
            <a class ="btn btn-primary" asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> 
            <a class="btn btn-danger" asp-action="Delete" asp-route-id="@Model?.Id">Delete</a> 
            <a class="btn btn-light" asp-action="Index">Back to List</a>
        </div>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Age</th>
            <th>Nationality</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var player in Model!.Players)
        {
            <tr>
                <td>@player.Name</td>
                <td>@player.Age</td>
                <td>@player.Nationality</td>
            </tr>            
        }
    </tbody>
</table>
<div class="d-flex justify-content-end">
    <a class="btn btn-success" asp-area="" asp-controller="Players" asp-action="Create" asp-route-teamId="@Model.Id">Add New Player</a>
</div>
